@charset "utf-8";

@font-face {
	font-family: "dejavu_sansbook";
	src: url("dejavusans-webfont.woff2") format("woff2"),
			url("dejavusans-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "dejavu_sanscondensed";
	src: url("../assets/fonts/dejavusanscondensed-webfont.woff2") format("woff2"),
			url("../assets/fonts/dejavusanscondensed-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Fira Mono";
	src: url("../assets/fonts/fira-mono-latin-400-normal.woff2") format("woff2"),
			url("../assets/fonts/fira-mono-latin-400-normal.woff") format("woff"),
			url("../assets/fonts/fira-mono-latin-ext-400-normal.woff2") format("woff2"),
			url("../assets/fonts/fira-mono-latin-ext-400-normal.woff") format("woff"),
			url("../assets/fonts/fira-mono-symbols2-400-normal.woff2") format("woff2"),
			url("../assets/fonts/fira-mono-symbols2-400-normal.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Fira Mono";
	src: url("../assets/fonts/fira-mono-latin-500-normal.woff2") format("woff2"),
			url("../assets/fonts/fira-mono-latin-500-normal.woff") format("woff"),
			url("../assets/fonts/fira-mono-latin-ext-500-normal.woff2") format("woff2"),
			url("../assets/fonts/fira-mono-latin-ext-500-normal.woff") format("woff"),
			url("../assets/fonts/fira-mono-symbols2-500-normal.woff2") format("woff2"),
			url("../assets/fonts/fira-mono-symbols2-500-normal.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Fira Mono";
	src: url("../assets/fonts/fira-mono-latin-700-normal.woff2") format("woff2"),
			url("../assets/fonts/fira-mono-latin-700-normal.woff") format("woff"),
			url("../assets/fonts/fira-mono-latin-ext-700-normal.woff2") format("woff2"),
			url("../assets/fonts/fira-mono-latin-ext-700-normal.woff") format("woff"),
			url("../assets/fonts/fira-mono-symbols2-700-normal.woff2") format("woff2"),
			url("../assets/fonts/fira-mono-symbols2-700-normal.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "optialpine-boldregular";
	src: url("../assets/fonts/optialpine-bold-webfont.woff2") format("woff2"),
			url("../assets/fonts/optialpine-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "DejaVu Sans Condensed", "sans-serif";
	background-color: #2a2a2a;
	color: #FFFFFF;
	padding: 5px;
}

nav {
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	margin: 0;
	z-index: 1000;
}

.index {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "optialpine-boldregular", sans-serif;
	font-size: 1.2rem;
	background-color: rgba(0, 0, 0, 0.25);
	transition: background-color 0.3s ease;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	margin: 0;
	width: 1050px;
	height: 40px;
	padding: 0 5px 0 5px;
	border-radius: 10px;
	white-space: nowrap;
	overflow-x: auto;
}
.index:hover {
	background-color: rgba(0, 0, 0, 0.75);
}

.index a {
	display: inline-block;
	margin: 0 10px 0 10px;
	transition: color 0.3s ease, transform 0.3s ease;
}

.index a:hover{
	transform: scale(1.5);
	color: #87CEFA;
	text-shadow: 0 0 5px #87CEFA, 0 0 10px #87CEFA;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #1F1F1F;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	text-align: center;
	width: 1050px;
	margin: 5px auto 0 auto;
	padding: 5px 5px 10px 5px;
	border-radius: 10px;
}

a {
	text-decoration: none;
	color: #B0C4DE;
}

a:hover {
	color: #87CEFA;
	text-decoration: underline;
}

h1 {
	font-family: "optialpine-boldregular", sans-serif;
	font-size: 4rem;
	letter-spacing: 2px;
	text-align: center;
	color: #F1700A;
	text-shadow: 0 0 4px #FCDA10, 0 0 8px #FCDA10, 0 0 12px #FCDA10;
}

h2 {
	font-family: "optialpine-boldregular", sans-serif;
	font-size: 2.25rem;
	text-align: center;
	color: #FF8C00;
	text-shadow: 2px 2px 2px black;
}

hr {
	border: none;
	width: 1000px;
	height: 1px;
	background-color: #333333;
}

p {
	font-family: "DejaVu Sans", "sans-serif";
	font-size: 1rem;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	color: #FBC301;
	text-shadow: 2px 2px 2px black;
}

ul {
	list-style-type: circle;
	margin: 0;
	padding-left: 15px;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Fira Mono", monospace;
	margin: 10px auto 0 auto;
	padding: 5px;
	width: 1050px;
	background-color: #1F1F1F;
	color: #AAA;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	border: 2px solid #333333;
	border-radius: 10px;
}

pre {
	margin: 0;
}

.banner {
	background-color: #1F1F1F;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	text-align: center;
	width: 1050px;
	margin: 0 auto 5px auto;
	padding: 5px;
	border: 2px solid #333333;
	border-radius: 10px;
}

.img-title {
	margin-top: 10px;
	border-radius: 5px;
}

.list {
	display: inline-block;
	text-align: left;
	word-break: break-word;
}

.update-line {
	margin-top: 0.5rem;
	font-size: 0.75rem;
	color: #AAA;
	font-style: italic;
}
